<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Anasayfa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngIf="checkToLogin()==true" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Yönetim
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" aria-current="page" (click)="goToCarList()"
                routerLink="/cars/carlist">Araba Güncelle</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="goToCarAdd()"
                routerLink="/cars/add">Araba Ekle</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="goToBrandList()"
                routerLink="/brands/list">Marka Güncelle</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="goToBrandAdd()"
                routerLink="/brands/add">Marka Ekle</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="goToColorList()"
                routerLink="/colors/list">Renk Güncelle</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="goToColorAdd()"
                routerLink="/colors/add">Renk Ekle</a>
              </li>
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>

        <li *ngIf="checkToLogin()==false" class="nav-item" style="margin-right: 2ex;">
          <button class="btn btn-outline-success" routerLink="/register">Üyelik</button>
        </li>
        <li class="nav-item">
          <button *ngIf="checkToLogin()==false" class="btn btn-outline-success" routerLink="/login">Giriş</button>
        </li>
        
        <li *ngIf="checkToEmail()==true" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mt-1" id="navbarDropdownn" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: large;">
            {{this.user.firstName}} {{this.user.lastName}}
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownn">
              <li><a class="dropdown-item" routerLink="/userUpdate">Profil düzenle</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a (click)="logOut()" style="cursor: pointer;" 
                class="dropdown-item">Çıkış yap</a></li>
        </ul>
      </div>
    </div>
  </nav>